<div class="container">
  <div class="card my-5" *ngFor="let game of games">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
          <img
            [src]="getFlagUrl(game.teamLocaleCode)"
            alt="{{ game.teamLocale }}"
            width="32"
            height="32" />
          {{ game.teamLocale }}
        </div>
        <div>{{ game.scoreLocale !== null ? game.scoreLocale : '-' }}</div>
        <div *ngIf="canPredict">
          <button
            class="btn btn-success"
            [disabled]="!checkIfCanPredict(game)"
            (click)="createPrediction(game)">
            Predict
          </button>
        </div>
        <div *ngIf="canEdit">
          <button
            class="btn btn-primary"
            [disabled]="checkIfCanEdit(game)"
            (click)="updateGame(game)">
            Edit
          </button>
        </div>
        <div>{{ game.scoreVisitor !== null ? game.scoreVisitor : '-' }}</div>
        <div>
          {{ game.teamVisitor }}
          <img
            [src]="getFlagUrl(game.teamVisitorCode)"
            alt="{{ game.teamVisitor }}"
            width="32"
            height="32" />
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <p>{{ game.date | date: 'full' }}</p>
        <p>{{ game.stage }}</p>
      </div>
    </div>
  </div>
</div>

<p-toast position="bottom-center" />
