<div class="section">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3">Registrarse</h4>
                    <form novalidate [formGroup]="formulario">
                      <div class="form-group">
                        <input
                          type="text"
                          formControlName="name"
                          class="form-style"
                          placeholder="Ingresa tu nombre"
                          id="logname"
                          autocomplete="off" />
                        <i class="input-icon uil uil-user"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input
                          type="text"
                          formControlName="surname"
                          class="form-style"
                          placeholder="Ingresa tu apellido"
                          id="logapellido"
                          autocomplete="off" />
                        <i class="input-icon uil uil-user"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input
                          type="text"
                          formControlName="user_id"
                          class="form-style"
                          placeholder="Ingresa tu cédula"
                          id="logcedula"
                          autocomplete="off" />
                        <i class="input-icon uil uil-user"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input
                          type="email"
                          formControlName="email"
                          class="form-style"
                          placeholder="Email"
                          id="logemail"
                          autocomplete="off" />
                        <i class="input-icon uil uil-at"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input
                          type="password"
                          formControlName="password"
                          class="form-style"
                          placeholder="Contraseña"
                          id="logpass"
                          autocomplete="off" />
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <div class="form-group mt-2">
                        <label for="">Elegir Campeon</label>
                        <select
                          class="form-select"
                          formControlName="first_place_prediction"
                          (change)="updateSecondCountryOptions()">
                          <option value="" selected>-</option>
                          <option
                            *ngFor="let country of firstCountryOptions"
                            [value]="country.team_id">
                            {{ country.name }}
                          </option>
                        </select>
                      </div>
                      <div class="form-group mt-2">
                        <label for="">Elegir Sub-Campeon</label>
                        <select
                          class="form-select"
                          formControlName="second_place_prediction"
                          (change)="updateFirstCountryOptions()">
                          <option value="" selected>-</option>
                          <option
                            *ngFor="let country of secondCountryOptions"
                            [value]="country.team_id">
                            {{ country.name }}
                          </option>
                        </select>
                      </div>
                      <button (click)="onSubmit()" class="btn mt-4">
                        Registrarse
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
