<nav
  class="navbar navbar-expand-lg bg-body-tertiary rounded"
  aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex">
      <a class="navbar-brand col-lg-3 me-0" routerLink="/home">Penca UCU</a>
      <div class="navbar-nav col-lg-6 justify-content-lg-center">
        <a class="nav-link" routerLink="/home">Fixture</a>
        <a class="nav-link" routerLink="home/leaderboard">Leaderboard</a>
        <a class="nav-link" routerLink="/admin">Dashboard</a>
      </div>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button
          type="button"
          class="btn btn-outline-primary me-2"
          routerLink="/auth/login">
          Login
        </button>
        <button
          type="button"
          class="btn btn-success"
          routerLink="/auth/register">
          Sign-up
        </button>
      </div>
    </div>
  </div>
</nav>
