<div class="container-fluid mt-3">
  <form [formGroup]="createMatchForm" class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Local Team</label>
      <select
        class="form-select"
        formControlName="localTeam"
        (change)="updateSecondCountryOptions()">
        <option value="" selected>-</option>
        <option
          *ngFor="let country of firstCountryOptions"
          [value]="country.team_id">
          {{ country.name }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label class="form-label">Visitor Team</label>
      <select
        class="form-select"
        formControlName="visitorTeam"
        (change)="updateFirstCountryOptions()">
        <option value="" selected>-</option>
        <option
          *ngFor="let country of secondCountryOptions"
          [value]="country.team_id">
          {{ country.name }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label class="form-label">Game Stage</label>
      <select class="form-select" formControlName="stage">
        <option value="" selected>-</option>
        <option *ngFor="let stage of stages" [value]="stage">
          {{ stage }}
        </option>
      </select>
    </div>
    <div class="col-md-6 d-flex flex-column">
      <label class="form-label">Date</label>
      <p-calendar
        formControlName="date"
        [showTime]="true"
        [minDate]="minDate"
        dateFormat="dd/mm/yy"></p-calendar>
    </div>

    <div class="col-12">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="createMatchForm.invalid"
        (click)="openCreateMatchDialog($event)">
        Create Game
      </button>
    </div>
  </form>
  <hr class="mt-5" />
  <div class="row">
    <app-match-tabs [games]="games"></app-match-tabs>
  </div>
</div>

<p-toast position="bottom-center" />
<p-confirmDialog />
