<div class="container">
  <h3 class="mt-3 mb-3">Leaderboard</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let student of students; let i = index">
        <th scope="row">#{{ i + 1 }}</th>
        <td>{{ student.name }} {{ student.surname }}</td>
        <td>{{ student.points }}</td>
      </tr>
    </tbody>
  </table>
</div>
